/** Main Custom CSS **/
/** Main Colors **/
@font-face {
  font-family: "Calibri";
  src: url("../assets/fonts/Calibri-Bold.eot");
  src: url("../assets/fonts/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Calibri-Bold.woff2") format("woff2"), url("../assets/fonts/Calibri-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("../assets/fonts/Calibri-Italic.eot");
  src: url("../assets/fonts/Calibri-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Calibri-Italic.woff2") format("woff2"), url("../assets/fonts/Calibri-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Novecento wide";
  src: url("../assets/fonts/Novecentowide-Bold.eot");
  src: url("../assets/fonts/Novecentowide-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Novecentowide-Bold.woff2") format("woff2"), url("../assets/fonts/Novecentowide-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calibri";
  src: url("../assets/fonts/Calibri.eot");
  src: url("../assets/fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Calibri.woff2") format("woff2"), url("../assets/fonts/Calibri.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Novecento wide";
  src: url("../assets/fonts/Novecentowide-Normal.eot");
  src: url("../assets/fonts/Novecentowide-Normal.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Novecentowide-Normal.woff2") format("woff2"), url("../assets/fonts/Novecentowide-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Novecento wide";
  src: url("../assets/fonts/Novecentowide-Light.eot");
  src: url("../assets/fonts/Novecentowide-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Novecentowide-Light.woff2") format("woff2"), url("../assets/fonts/Novecentowide-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Novecento wide", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.content-page .container-fluid.bg-red {
  background-color: #e72932;
}
.content-page .container-fluid.bg-orange {
  background-color: #e6761e;
}
.content-page .container-fluid.bg-yellow {
  background-color: #f7b420;
}
.content-page .container-fluid.bg-lightgreen {
  background-color: #b5b74b;
}
.content-page .container-fluid.bg-opengreen {
  background-color: #2ca867;
}

main.container {
  background: white;
  padding-top: 30px;
}
main.container a {
  color: #e46c16;
}
main.container a.btn {
  color: white;
}

.jumbotron {
  margin-bottom: 0px;
}

#main-header {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: white;
  height: 0;
  padding-top: 31%;
}

/*
#main-header {


  background-repeat:no-repeat;
  background-position-x: center;
  background-position-y: 0vh;
  background-size: contain;
  background-attachment: fixed;
  background-color: white;
  padding: 0px;
  height: 25vh;
}
*/
h1 {
  text-align: center;
}

p {
  font-family: "Calibri", sans-serif;
  font-size: 1.2em;
}

.slice img.sliced {
  display: block;
  width: 100%;
  min-width: 100%;
  height: auto;
}

*:focus {
  outline: 0 !important;
  border: 0px;
}

.content-page header, #hp {
  margin-top: -84px;
}

.content-page p.intro {
  font-size: 1.5em;
  margin-bottom: 40px;
  text-align: center;
}

.content-page #page-navigation {
  margin-bottom: 25px;
}

.content-page .content-row {
  margin-top: 25px;
  margin-bottom: 50px;
}

.content-page figure {
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 50%;
  float: left;
  display: inline-block;
  margin-right: 15px;
}
.content-page figure img {
  max-width: 100%;
  text-align: left;
}
.content-page figure figcaption {
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "Novecento wide", sans-serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.content {
  background-color: white;
}

footer {
  padding: 40px 0px 25px;
}

/** Navbar **/
.menu-toggler {
  width: 64px;
  height: auto;
}

.navbar-toggler {
  z-index: 1020;
}

.navbar-collapse {
  position: absolute;
  top: 0px;
  left: 0;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 90px;
  max-width: 75%;
  z-index: 1010;
  min-height: 100vh;
  height: 100%;
  background: #242424;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

.navbar-collapse.collapsing {
  height: auto;
  -webkit-transition: left 0.8s ease;
  -o-transition: left 0.8s ease;
  -moz-transition: left 0.8s ease;
  transition: left 0.8s ease;
  left: -100%;
}

.navbar-collapse.show {
  left: 0;
  -webkit-transition: left 0.2s ease-in;
  -o-transition: left 0.2s ease-in;
  -moz-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
  /*position: fixed;*/
}

.nav-link {
  font-family: "Novecento wide", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-indent: 6px;
}
.nav-link.active {
  color: #e46c16;
  background: #333;
}
.nav-link:hover {
  color: #ebad41;
}

.nav-item ul {
  list-style: none;
  padding-lefT: 10px;
}

.menu-map {
  max-width: 250px !important;
}

.btn.btn-primary {
  font-family: "Novecento wide", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 16px;
    padding: 6px 0px 8px 0px;
  }

  #main-header {
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    background-attachment: fixed;
    background-color: white;
    height: 0;
    padding-top: calc(39.87% - 84px);
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 6em;
    text-align: center;
    margin: 30px auto 20px;
  }
}

/*# sourceMappingURL=main.css.map */
