/** Main Custom CSS **/
@import 'variables';
@import 'fonts';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Novecento wide', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
#main-header {
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0px;
  min-height: 100vh;
}
p { font-family: 'Calibri', sans-serif; }
.slice {
  // min-height: 100vh !important;
  img.sliced {
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
  }
}
*:focus { outline: 0 !important; border: 0px; }
.content-page header { margin-top: -104px; }
.content-page p.intro { font-size: 1.5em; margin-bottom: 40px; text-align: center; }
.content-page #page-navigation { margin-bottom: 25px; }
.content-page .content-row { margin-top: 25px; margin-bottom: 50px; }

footer { padding: 40px 0px 25px;  }

/** Navbar **/
.menu-toggler {
  width: 64px; height: auto;
}
  #main-navbar {
    // position: absolute;

  }
  .navbar-toggler { z-index: 1020; }
  .navbar-collapse {
    position: absolute;
    top: 0px;
    left: 0;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 90px;
    max-width: 75%;
    z-index: 1010;
    min-height: 100vh;
    height: 100%;
    background: $backblack;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 0px 5px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 0px 5px 0px rgba(50, 50, 50, 0.5);
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.8s ease;
    -o-transition: left 0.8s ease;
    -moz-transition: left 0.8s ease;
    transition: left 0.8s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.2s ease-in;
    -o-transition: left 0.2s ease-in;
    -moz-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    /*position: fixed;*/
  }
.nav-item.active { }
.nav-link {
  font-family: 'Novecento wide', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
  text-indent: 6px;
  &.active {
    color: $repressed_orange;
    background: #333;
  }
  &:hover { color: $obstructed_yellow; }
}
.nav-item ul {
  list-style: none;
  padding-lefT: 10px;
}
.menu-map { max-width: 250px !important; }

.btn.btn-primary {
  font-family: 'Novecento wide', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .nav-link {
    font-size: 16px;
    padding: 6px 0px 8px 0px;

  }
}
@media (min-width: 992px) {
  h1 { font-size: 6em; text-align: center; margin: 30px auto 20px; }
}
